@using MoviesCore
@using MoviesRepository
@model Movie
@{
}
<style>
	.form-group {
		color: white;
		font-size: 20px;
	}

	#bewhite {
		color: white;
	}
</style>

<div class="container">
	<h3 id="bewhite">Add Movie</h3>
	<hr />
	@Html.HiddenFor(model => model.Id)
	<form asp-action="Create" enctype="multipart/form-data" class="form-group">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Title" class="control-label"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="control-label"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Rating" class="control-label"></label>
			<input asp-for="Rating" class="form-control" />
			<span asp-validation-for="Rating" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Seasons" class="control-label"></label>
			<input asp-for="Seasons" class="form-control" />
			<span asp-validation-for="Seasons" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ReleaseYear" class="control-label"></label>
			<input asp-for="ReleaseYear" class="form-control" />
			<span asp-validation-for="ReleaseYear" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="PosterPath" class="control-label"></label>
			<input class="form-control" name="Image" id="Image" type="file" />
			<span asp-validation-for="PosterPath" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Duration" class="control-label"></label>
			<input asp-for="Duration" class="form-control" />
			<span asp-validation-for="Duration" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="control-label"> Choose Genres</label>
			<input type="submit" value="Create" class="btn btn-outline-success float-right" />
			<div>
				@{
					List<Genre> genres = ViewBag.Genres;
					foreach (Genre c in genres)
					{
						<input type="checkbox" name="selectedGenres" value="@c.Id" />
						@c.GenreName <br />
					}
				}
				<br />
				<label class="control-label"> Choose Type</label>
				@{
					List<MoviesCore.Type> types = ViewBag.Types;
					<select name="selectedType">
						@foreach (var item in types)
						{
							<option value="@item.Id">@item.TypeName</option>
						}
					</select>
				}
				<label class="control-label"> Choose Country</label>
				@{
					List<PublisherCountry> countries = ViewBag.Contries;
					<select name="selectedCountry">
						@foreach (var item in countries)
						{
							<option value="@item.Id">@item.CountryName</option>
						}
					</select>
				}
			</div>
		</div>
	</form>
</div>





