@model MoviesCore.Movie
@{
}

<section class="anime-details spad">
	<div class="container">
		<div class="anime__details__content">
			<div class="row">
				<div class="col-lg-3">
					<div class="anime__details__pic set-bg">
						<img src="\@Html.DisplayFor(modelItem => Model.PosterPath)" style="width:263px;height:440px" />
					</div>
				</div>
				<div class="col-lg-9">
					<div class="anime__details__text">
						<div class="anime__details__title">
							<h3>@Html.DisplayFor(modelItem => Model.Title)</h3>
						</div>
						<div class="anime__details__rating">
							<div class="rating">
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
							<span>1.029 Votes</span>
						</div>
						<p>@Html.DisplayFor(modelItem => Model.ReleaseYear)</p>
						<div class="anime__details__widget">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<ul>
										<li><span>Type:</span>@Html.DisplayFor(modelItem => Model.Type.TypeName)</li>
										<li><span>Studios:</span>Lerche</li>
										<li><span>Date aired:</span>@Html.DisplayFor(modelItem => Model.ReleaseYear)</li>
										<li><span>Status:</span>Airing</li>
										<li><span>Genre:</span>@Html.DisplayFor(modelItem => Model.Genres)</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6">
									<ul>
										<li><span>Scores:</span> 7.31 / 1,515</li>
										<li><span>IMDB:</span> <span id="target"> 1 </span> </li>
										<li><span>Duration:</span>@Html.DisplayFor(modelItem => Model.Duration)</li>
										<li><span>Quality:</span> HD</li>
										@if (Model.Type?.TypeName != "Movie")
										{
											<li><span>Seasons:</span>@Html.DisplayFor(modelItem => Model.Seasons) </li>
										}

									</ul>
								</div>
							</div>
						</div>
						<div class="anime__details__btn">
							<a asp-action="Bookmarked" asp-route-id="@Model.Id" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
							<a href="#" class="watch-btn">
								<span>Watch Now</span> <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section End -->
@section Scripts {
	@*Uncomment section below to load imdb raiting for this movie, due to restricted number of requests to api*@
	<script>
		const str = "@Model.Title"
		console.log(str)
		const options = {
		method: 'GET',
		headers: {
		'X-RapidAPI-Key': 'a2a8223e0fmsh05cc764b858ebefp1d1ed3jsn0235c9321f19',
		'X-RapidAPI-Host': 'moviesdb5.p.rapidapi.com'
		}
	};
	const trgt = document.getElementById("target")

	fetch(`https://moviesdb5.p.rapidapi.com/om?t=${str}`, options)
	.then(response => response.json())
	.then(response => {
		trgt.innerHTML = response.imdbRating ? response.imdbRating : "No raiting for this movie :("
	})
	.catch(err => console.error(err));
	</script>
	}